* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  font-family: 'montseratt',sans-serif;
  background-color: grey;
}
.App {
  background-position: center;
  background-repeat: no-repeat;
  justify-content:center;
  margin: auto;
}
.info {
  background-image:url('./assets/image1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  justify-content:center;
  background-size: cover;
  margin: auto;
  width: 720px;
  height: 100vh;
  padding: 25px;
  transition: 0.4s ease-out;
}
.info.cold {
  background-image:url('./assets/image2.jpg');
}
.info.rain {
  background-image:url('./assets/about2.jpg');
}
.info .search-box {
  display: block;
  width: 100%;
  margin: 0 0 75px;
}
.info .search-box .search-bar {
  width: 100%;
  display: block;
  padding: 15px;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px 0px 16px 0px;
  margin-top: -10px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  color: #313131;
  font-size: 20px;
  transition: 0.4s ease;
}
.info .search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}
.info .location-box .location{
  color: rgb(138, 134, 134);
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}
.info .location-box .date {
  color: rgb(138, 134, 134);
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin: 10px 0px -10px; 
  font-style: italic;
  text-shadow: 1px 1px rgba(50, 50, 70, 0.5);
}
.info .weather-box {
  text-align: center;
}
.info .weather-box .temp{
  position: relative;
  display:inline-block;
  margin: 30px auto;
  background-color: rgba(199, 190, 190, 0.2);
  border-radius: 16px;
  padding: 15px 15px;
  color: rgb(97, 90, 90);
  font-size: 50px;
  font-weight: 900;
  text-shadow: 3px 4px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}
.info .weather-box .temp-minmax {
  color: #FFF;
  font-size: 25px;
  font-weight: 700;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}
.info .not-found {
  color: rgb(158, 141, 141);
  font-size: 25px;
  font-weight: 700;
  text-shadow: 1px 1px rgba(50, 50, 70, 0.5);
  text-align: center;
}
.info .weather-box .weather {
  color: #FFF;
  font-size: 30px;
  font-weight: 700;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
  text-align: center;
  margin: 10px;
  font-style: italic;
}




